<!DOCTYPE html>
<html>
  <head>
    <title>StarterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <p>

      <% if @current_user %>
        Welcome.
        <%= button_to "Logout", "/sessions/logout", method: :delete %>
      <% else %>
      <a href="/sessions/new">Login</a> | 

      <a href="/users/new">Sign Up</a>
      <% end %>
    </p>

    <p>
      <!-- This is a message that appears at the top. disappears after refresh! 
      It is essentially a "one time use" cookie -->
      <%= flash[:notice] %>

    </p>

    <%= yield %>
  </body>
</html>
